<h1>Comments Page</h1>
<h2>We currently have <%= @comments.count %> comments!</h2>
<% @comments.each do |comment| %>
  <h4><%= comment.title %></h4>
  <p><%= comment.content %></p>
<% end %>

<%= link_to "Add a comment", new_comment_path %>
